/* style applied for whole body element */
body {
  font-family: 'Cabin', sans-serif;
  font-size: 120%;
}

/* style for Score Log text */
h2 {
  text-align: center;
  text-decoration:underline;
}

/* style applied for buttons */
button {
  margin: 20px;
  cursor: pointer;
  font-size: 100%;
  background-color: #9b2226;
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

 /* style applied when mouse hovers button */
button:hover {
  background-color: #ca6702;
}

/* style for list of scores saved */
ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
  text-align: center;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

/* style set for div portion of page */
.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
  text-align: center;
}