/* style applied for whole body element */
body {
  font-family: 'Cabin', sans-serif;
  font-size: 100%;
}

/* style applied for buttons */
button {
  display:inline-block;
  margin: 20px;
  cursor: pointer;
  font-size: 100%;
  background-color: #9b2226;
  border-radius: 5px;
  padding: 10px 30px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

 /* style applied when mouse hovers button */
button:hover {
  background-color: #ca6702;
}

/* style applied for multiple choice */
.choices button {
  display: block;
}

/* style applied for inputing name */
input[type="text"] {
  font-size: 100%;
}

/* style applied for questions */
.instruction {
  list-style: circle;
  list-style-type: square;
  text-align: justify;
  background-color:white
}

/* style for choices list */
ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

/* div style for main page */
.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
}

/* style applied to hide scores and questions before quiz us started */
.hide {
  display: none;
}

/* style for game start */
.start {
  text-align: center;
}

/* style for score portion */
.scores {
  position: absolute;
  top: 10px;
  left: 10px;
}

/* style for running timer on the page */
.timer {
  position: absolute;
  top: 50px;
  right: 50px;
  font-style: italic;
  font-weight: bolder;
  font-size: x-large;
  background-color: #ffe1a8;
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 5px;
}